Package: housemate
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: java8-sdk
Maintainer: Intuso <support@intuso.com>
Description: Intuso Housemate Home Automation
Homepage: http://www.intuso.com