<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <listener>
        <listener-class>com.intuso.housemate.web.server.ContextListener</listener-class>
    </listener>

    <!-- Servlets -->
    <servlet>
        <servlet-name>commsServlet</servlet-name>
        <servlet-class>com.intuso.housemate.web.server.service.CommsServiceImpl</servlet-class>
    </servlet>

    <!-- Servlet mappings -->
    <servlet-mapping>
        <servlet-name>commsServlet</servlet-name>
        <url-pattern>/Housemate/comms</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
