Package: housemate-node
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: openjdk-8-jre
Maintainer: Intuso <support@intuso.com>
Description: Intuso Housemate Node 1.0
Homepage: http://www.intuso.com