@media(max-width: 979px) {
    body {
        padding-top: 0 !important;
    }
}

body {
    color: #800090 !important;
}

.accordion {
    margin-bottom: 5px !important;
}

.object-list.accordion > .accordion-group {
    border: 1px solid #800090 !important;
    border-radius: 8px !important;
    margin-bottom: 5px !important;
}

.object-list.accordion > .accordion-inner {
    border: none !important;
}

.object-list.accordion > .accordion-group > .accordion-heading {
    background-color: #800090;
    border-radius: 4px;
}

.object-list.accordion > .accordion-group > .accordion-heading > a,
.object-list.accordion > .accordion-group > .accordion-heading > a:hover {
    color: #ffffff !important;
    text-decoration: none !important;
    font-weight: bold;
}

.widget-list.accordion > .accordion-group,
.widget-list.accordion > .accordion-group > .accordion-heading > .accordion-toggle {
    border: none !important;
}

.widget-list.accordion > .accordion-group > .accordion-heading > .accordion-toggle {
    padding: 5px 0 0 0 !important;
}

.widget-list.accordion > .accordion-group > .accordion-heading > a,
.widget-list.accordion > .accordion-group > .accordion-heading > a:hover {
    color: #800090 !important;
    text-decoration: none !important;
}

.widget-list.accordion > .accordion-group > .accordion-body > .accordion-inner {
    min-width: 200px;
    padding: 0 0 0 5px !important;
    margin-left: 5px !important;
    border-left: 1px solid #800090;
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.property,
.widget-row {
    margin: 5px 0;
}

.property input[type=text] {
    margin-bottom: 0 !important;
}

.widget-row > .title {
    margin: auto 0;
    display: inline;
}