[Unit]
Description=Intuso Housemate

[Service]
User=hm
Environment=HOME=/opt/intuso/housemate
ExecStart=/opt/intuso/housemate/bin/housemate start
ExecStop=/opt/intuso/housemate/bin/housemate stop

[Install]
WantedBy=multi-user.target